/* colors
mint cream: #F1FFFA
tea green: #CCFCCB
celadon: #96E6B3
fern green: #568259
outer space: #464E47
*/

body {
    background-color: #F1FFFA;
}

h1, h2, h3, h4, h5, h6 {
    color: #464E47;
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    text-align: left;
}

h1.header {
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    color: #568259;
    font-size: 48px;
    text-align: center;
}

h2.desc {
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    color: #464E47;
    font-size: 34px;
    text-align: center;
}

h4.questions {
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    color: #464E47;
    font-size: 28px; 
}

p {
    font-family: Josefin Sans, Arial, sans-serif; 
    color: #464E47;
    line-height: 1.5;
    font-size: 20px;
}

a {
    font-family: Josefin Sans, Arial, sans-serif; 
}

/* REGULAR NAV MENU */

nav.index-nav {
    background-color: #464E47;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

nav.index-nav ul {
    list-style-type: none;
}

nav.index-nav li {
    display: inline;
    padding: 20px;
}

nav.index-nav li a {
    font-size: 20px;
    color: #CCFCCB;
    text-decoration: none;
}

nav.index-nav a:hover {
    font-weight: bold;
    color: #96E6B3;
    text-decoration: none;
}

section.project1-header {
    margin: auto;
    width: auto;
}

/* DROPDOWN NAV MENU */

nav.dropdown-nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #464E47;
    font-family: Josefin Sans, Arial, sans-serif; 
  }

nav.dropdown-nav a {
    float: left;
    font-size: 20px;
    color: #96E6B3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Josefin Sans, Arial, sans-serif; 
}

nav.dropdown-nav a:hover {
    font-weight: bold;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #96E6B3;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    font-weight: bold;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #464E47;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* IMAGE GALLERY */

figure.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

figure.gallery {
  margin: 5px;
  border: 1px solid #CCFCCB;
  float: left;
  width: 180px;
}

figure.gallery:hover {
  border: 3px solid #96E6B3;
}

figure.gallery img {
  width: 100%;
  height: auto;
}

figcaption {
  padding: 15px;
  text-align: center;
  font-family: Josefin Sans, Arial, sans-serif;
}